.margins {
  padding: 1rem;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.table-container {
  height: 300px; /* Establece la altura deseada para la fila que contiene la tabla */
}

table {
  width: 100%;
}

.chart-container {
  flex-grow: 1;
  max-height: calc(100% - 20px);
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  overflow: hidden;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

/* Agrega estilos para que el gráfico ocupe todo el espacio disponible */
