<div class="margins">
  <div class="row">
    <!-- Columna de la izquierda con el botón -->
    <div class="col-md-2">
      <mat-form-field>
        <mat-label>Favorite food</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="food">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{ food.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Columna de la derecha dividida en dos filas -->
    <div class="col-md-10">
      <div class="row table-container" style="height: 300px">
        <!-- Fila de arriba con la tabla de Angular Material -->
        <div class="col-md-12">
          <div class="d-flex flex-column h-100">
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort>
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                  <td mat-cell *matCellDef="let row">{{ row.id }}</td>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="progress">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Progress
                  </th>
                  <td mat-cell *matCellDef="let row">{{ row.progress }}%</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Name
                  </th>
                  <td mat-cell *matCellDef="let row">{{ row.name }}</td>
                </ng-container>

                <!-- Fruit Column -->
                <ng-container matColumnDef="fruit">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Fruit
                  </th>
                  <td mat-cell *matCellDef="let row">{{ row.fruit }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>

              <mat-paginator
                [pageSizeOptions]="[4, 8, 16, 100]"
                aria-label="Select page of users"
              ></mat-paginator>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="flex-grow: 1">
        <!-- Fila de abajo con el contenido restante (gráfico u otros elementos) -->
        <div class="col-md-12 my-4" style="display: flex">
          <div style="flex: 1; display: flex; flex-direction: column">
            <ngx-charts-bar-vertical
              [view]="view"
              [results]="single"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              style="flex-grow: 1"
            >
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
